{% extends 'base.html' %}  
{%load static%}

{%block title%}Admin Dashboard{%endblock%}
  
{% block content %}  
<a href="">All books</a>
<h1>This is admin page</h1><br>
<h1>This is admin page</h1><br>
<h1>This is admin page</h1><br>
<h1>This is admin page</h1><br>
<h1>This is admin page</h1><br>
<h1>This is admin page</h1><br>
<h1>This is admin page</h1><br>
<h1>This is admin page</h1><br>
<h1>This is admin page</h1><br>
<h1>This is admin page</h1><br>
<h1>This is admin page</h1><br>
<h1>This is admin page</h1><br>



{%endblock%}